<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .btn a {
        color: white;
        text-decoration: none;
    }

    body {
        background-color: #f1f1f1;
    }
</style>

<div class="text-center">
    <h1>Birthday Card</h1>

    <h4>Press "Submit" button to write a Birthday Card</h4>

    <div class="btn btn-success">
        @Html.ActionLink("Submit", "SubmitForm")
    </div>
</div>

